/* RockELF Font */
@font-face {
  font-family: "RockoFLF Regular";
  font-style: normal;
  font-weight: normal;
  src: local("RockoFLF Regular"), url("../font/RockoFLF.ttf") format("woff");
}
@font-face {
  font-family: "RockoFLF Bold";
  font-style: normal;
  font-weight: normal;
  src: local("RockoFLF Bold"), url("../font/RockoFLF-Bold.ttf") format("woff");
}
/* font-family:'RockoFLF Regular'; */
/* font-family: 'Poppins', sans-serif; */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #0C0E29;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small  */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  /* Large */
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* Start Header */
header {
  position: relative;
}
header .to-top {
  padding: 10px 15px;
  background:white ;
  border: none;
  outline: none;
  font-size: 15px;
  border-radius: 10px;
  position:fixed;
  right: 40px;
  bottom: 40px;
  color: #0C0E29;
  display: none;
}
header .overlay {
    display: none;
    position:absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
header nav{
  padding-top: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .links-container .toggler-mobile{
  display: none;
  font-size: 35px;
  color: white;
}
header nav .links-container ul{
  display: flex;
}
header nav .links-container ul li a{
  font-family:'RockoFLF Regular';
  font-size: 14px;
  font-weight: normal;
  color: #CFCFCF;
  text-decoration: none;
  display: inline-block;
  margin-left: 35px;
}
header nav .links-container ul li .first-li {
  margin-left: 0;
}
header nav .links-container ul li .active{
  font-size: 16px;
  color: #1EAFE6;
  font-weight: bold;
}
@media(max-width:768px){
  header nav .links-container .toggler-mobile{
    display: block;
  }
  header nav .links-container ul li a{
    margin-left: 0;
    margin-bottom: 20px;
    color: #0C0E29;
  }
  header nav .links-container ul{
    display:block;
    position: absolute;
    left: -275px;
    transition: all 0.3s ease-in-out;
    top: 0;
    height: 100vh;
    background: white;
    border-bottom-right-radius: 41px;
    border-start-end-radius: 52px;
    z-index: 1000;
    padding: 30px;
  }
  
}


/* End Nav */
/* Start Landing */
header .landing {
  padding-top: 100px;
}
header .landing h1 {
  font-size: 64px;
  color: #FFFFFF;
  font-family: 'RockoFLF Bold';
  line-height: 80px;
  margin-left: 95px;
  margin-bottom: 0;
  margin-top: 0;
}
header .landing .landing-head-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .landing h1 span {
  color: #1EAFE6;
}
header .landing .landing-content .brand-logos {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
header .landing .landing-content {
  position: relative;
}
header .landing .landing-content .eclipse {
  position: absolute;
  top: -124px;
}


@media(max-width:1200px){
  header .landing .landing-content .brand-logos .image-holder {
    flex-basis: 50%;
    padding-bottom: 30px;
    text-align: center;
  }
}
@media(max-width:567px){
  header .landing .landing-content .brand-logos .image-holder{
    flex-basis: 100%;
  }
}
/* End Landing */
/* Start our subsidaries */
#our-subsidaries{
  padding-top: 100px;
}
#our-subsidaries h2 {
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  color: #1EAFE6;
  padding-bottom: 70px;
}
#our-subsidaries .service-container {
  display: flex;  
}
#our-subsidaries .box-container {
  display: flex;
  flex-basis: 49%;
}
#our-subsidaries .box-container .box-content {
  margin-left: 40px;
}
#our-subsidaries .box-container .box-content .lirc-list {
  list-style: disc;
  font-size: 16px;
  opacity: 80%;
  color: white;
  line-height: 24px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 30px;
}
#our-subsidaries .box-container .box-content .lirc-list li {
  padding-bottom: 10px;
}
#our-subsidaries .box-container .box-content h3 {
  font-size: 32px;
  color: #1EAFE6;
  font-family: 'RockoFLF Bold';
  padding-bottom: 5px;
}

#our-subsidaries .box-container .image-holder img {
  width: 156px;
}
#our-subsidaries .box-container .box-content p {
  padding-bottom: 18px;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  color: white;
  line-height: 24px;
}
#our-subsidaries .box-container .box-content p:nth-of-type(2){
  font-size: 16px;
  opacity: 80%;
}
#our-subsidaries .box-container .box-content p a {
  color: #1EAFE6;
  opacity: 80%;
}
#our-subsidaries .service-container:nth-of-type(3){
  position: relative;
}
#our-subsidaries .service-container .eclipse-two {
  position: absolute;
  left: -87px;
  z-index: -1;
}
#our-subsidaries .service-container:nth-of-type(2),
#our-subsidaries .service-container:nth-of-type(4),
#our-subsidaries .service-container:nth-of-type(6),
#our-subsidaries .service-container:nth-of-type(8)
{
  justify-content: flex-end;
}
@media(max-width:991px){
  #our-subsidaries .box-container {
    flex-basis: 100%;
    align-items: center;
  }
  #our-subsidaries .two-logos {
    margin-left: 0px;
  }
  #our-subsidaries .two-logos-container {
    margin-left: 20px;
    display: flex;
  }
  #our-subsidaries .two-logos-container-2 {
    margin-left: 39px;
    flex-direction: column;
    display: flex;
    margin-right: 20px;
  }
  #our-subsidaries .two-logos-container-2 img {
    width: 125px !important;
  }
  
  #our-subsidaries .box-container .mar-two-logs{
    margin-left: 6px;
  }
}
@media(max-width:767px){
  #our-subsidaries .box-container{
    flex-direction: column;
    text-align: center;
  }
  #our-subsidaries .box-container .box-content {
    margin-left: 0;
  }
}
/* End our subsidaries */
/* Start email form */
#email-form {
  padding-top: 100px;
}
#email-form .form-header {
  display: flex;
  justify-content: center;
  padding-bottom: 90px;
}
#email-form h3{
  font-size: 48px;
  font-family: "RockoFLF Regular";
  font-weight: normal;
  color: white;
  line-height: 80px;
  padding: 0 20px;
  text-align: center;
  max-width: 600px;
}
#email-form .form-content-container {
  display: flex;
  justify-content: center;
}
#email-form .form-content-container .email-container{
  display: flex;
  flex-basis: 50%;
}
#email-form .form-content-container .email-container input[type=email]{
  flex-basis: 65.6666%;
  border: 2px solid #1EAFE6;
  background: transparent;
  padding: 23px;
  border-radius: 20px;
  color: white;
  outline:none
}
#email-form .form-content-container .email-container button {
  flex-basis: 27.5%;
  background-color: #1EAFE6;
  padding: 21px 59px;
  border-radius: 20px;
  font-family: "RockoFLF Regular";
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin-left: 16px;
  color: #0C0E29;
  border: none;
  outline: none;
}
#email-form .form-content-container .email-container input::placeholder{
  color: white;
  font-size: 14px;
}
/* End email form */
/* Start Footer */
#footer{
  margin-top: 100px;
  padding-top: 50px;
  border-top: 1px solid #1EAFE6;
}
#footer .footer-links-container{
  display: flex;
  justify-content: space-between;
  padding-bottom: 56px;
  flex-wrap: wrap;
}
#footer .footer-links-container .image-holder,
#footer .footer-links-container .links-holder,
#footer .footer-links-container .social-link{
  flex-basis: 33%;
}
#footer .footer-links-container .links-holder {
  display: flex;
  justify-content: space-between;
}
#footer .footer-links-container .links-holder a {
  text-decoration: none;
  color: #CFCFCF;
  opacity: 80%;
  display: inline-block;
  margin-bottom: 18px;
  font-family: "RockoFLF Regular";
  font-weight: normal;
  font-size: 14px;
}
#footer .footer-links-container .social-link {
  display: flex;
  justify-content: flex-end;
}
#footer .footer-links-container .social-link a {
  display: inline-block;
  margin-left: 20px;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 1px solid #1EAFE6;
}
p.rights {
  text-align: center;
  padding-bottom: 20px;
  color: #CFCFCF;
  opacity: 80%;
  font-family: "RockoFLF Regular";
  font-weight: normal;
  font-size: 14px;
}
@media(max-width:767px){
  #footer .footer-links-container .image-holder,
  #footer .footer-links-container .links-holder,
  #footer .footer-links-container .social-link{
  flex-basis: 100%;
  }
  #footer .footer-links-container .image-holder-logo {
    text-align: center;
    margin-bottom: 40px;
    width: 100%;
  } 
  #footer .footer-links-container .links-holder{
    justify-content: center;
    max-width: 310px;
    margin: auto;
    margin-bottom: 20px;
  }
  #footer .footer-links-container .links-holder ul{
    flex-basis: 35%;
  }
  #footer .footer-links-container .social-link {
    justify-content: center;
    margin-right: 15px;
  }
  #footer .footer-links-container .social-link .fb{
    margin-left: 0;
  }
}
/* Ent Footer */

.swiper {
  margin: 100px auto;
  width: 320px;
  height: 240px;
  border-radius: 10px;
}
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
}
div.swiper {
  margin: 0;
  width: 462px;
  height: 360px;
}
@media(min-width:768px) and (max-width:992px){
  div.swiper{
    margin: 0;
    width: 348px;
    height: 321px;
  }
  #our-subsidaries .box-container{
    margin-bottom: 30px;
  }
  #email-form{
    padding-top: 80px;
  }
  #our-subsidaries {
    padding-top: 80px;
  }
}
@media(max-width:767px){
  header .landing {
    padding-top: 50px;
  }
  header .landing .landing-head-container{
    flex-direction: column;
  }
  header .landing h1:nth-child(2){
    line-height:normal  ;
    font-size: 35px;
    display: block !important;
    margin-left: 0;
    margin-bottom: 40px;
  }
  header .landing h1:first-child{
    display: none;
  }
  #our-subsidaries .box-container {
    margin-bottom: 20px;
  }
  header .landing .landing-content .brand-logos{
    padding-top: 80px;
  }
  #our-subsidaries .box-container .image-holder {
    margin-bottom: 20px;
  }
  #our-subsidaries .box-container .box-content h3{
    padding-bottom: 10px;
  }
  #email-form h3{
    line-height: normal;
    font-size: 35px;
  }
  #our-subsidaries .service-container .eclipse-two{
    display: none;
  }
  header .landing .landing-content .eclipse{
    display:none;
  }
  #our-subsidaries .box-container .box-content .lirc-list{
    list-style: none;
  }
}
@media(max-width:567px){
  header .landing h1:nth-child(2){
    font-size: 30px;
  }
  div.swiper{
    margin: 0;
    width: 350px;
    height: 321px;
  }
  #email-form .form-content-container .email-container button{
    padding: 15px 25px;
  }
}

